rpcallowip=127.0.0.1
whitelist=127.0.0.1
rpcuser={{rpcuser}}
rpcpassword={{rpcpassword}}
server=1
addressindex=1
timestampindex=1
spentindex=1
txindex=1
zmqpubrawtx=tcp://127.0.0.1:29332
zmqpubhashblock=tcp://127.0.0.1:29332
dbcache=700


minrelaytxfee=0.000001
debug=mempoolrej
maxmempool=500
maxconnections=500