[Unit]
Description=Start litecoin mainnet pcap script
After=redis.service

[Service]
WorkingDirectory=/home/ubuntu/bitnodes
ExecStart=/usr/bin/python -u pcap.py conf/pcap.conf.default

# output goes to /var/log/syslog
StandardOutput=syslog
StandardError=syslog
User=ubuntu
Group=ubuntu

SyslogIdentifier=pcap

[Install]
WantedBy=multi-user.target
#Alias=pcap.service
