[Unit]
Description=Start litecoin mainnet seeder
After=redis.service


[Service]
WorkingDirectory=/home/ubuntu/bitnodes
ExecStart=/usr/bin/python -u seeder.py conf/seeder.conf.default

# output goes to /var/log/syslog
StandardOutput=syslog
StandardError=syslog
User=ubuntu
Group=ubuntu

SyslogIdentifier=seeder

[Install]
WantedBy=multi-user.target
Alias=seeder.service