server {
  listen 80;
  server_name insight.litenodes.net;

  root /home/ubuntu/.npm/insight-lite-ui/public;
  access_log /home/ubuntu/insight-log/livenet-access.log;
  error_log /home/ubuntu/insight-log/livenet-error.log;

  location ~ ^/$ {
    return 301 http://insight.litenodes.net/insight/;
  }
  location / {
    proxy_pass http://localhost:3001;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

    listen 443 ssl; # managed by Certbot
ssl_certificate /etc/letsencrypt/live/insight.litenodes.net/fullchain.pem; # managed by Certbot
ssl_certificate_key /etc/letsencrypt/live/insight.litenodes.net/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


    # Redirect non-https traffic to https
    # if ($scheme != "https") {
    #     return 301 https://$host$request_uri;
    # } # managed by Certbot

}